body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      
}
/* header */
header{
    width: 100%;
    height: 85px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000; /*otherwise the call for me button overrides header section*/
    
}

header h1{
    padding-left: 10px;
    letter-spacing: 0.5px;
}
/* nav bar with menus in header  */
nav ul{
    display: flex;
    gap: 30px;
    list-style: none; /*to omit bullet points of the front */
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;

    /*use of transition*/
    transition: font-size 0.4s ease; /*to change font-size at a smooth rate of 0.4 sec*/
}

nav ul li a:hover{
    font-size: 18px;
    color: rgb(30, 176, 249);
}
/* animation */
@keyframes myAnimation {
    0% {
        background-color: white;
      }
      50% {
        background-color: rgb(30, 176, 249); 
      }
      100% {
        background-color: rgb(187, 143, 206); 
      }
}
 
.animated{
    width: 100;
    height: 5px;
    background-color: rgb(187, 143, 206);
    animation-name: myAnimation;
    animation-duration: 4s;
}
/* hero Section */
#hero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(187, 143, 206),rgb(30, 176, 249));
    color: #ffffff;
    text-align: center;
  }
#hero h1{
    font-size: 40px;
    letter-spacing: 1px;
  }  
#hero p{
    line-height: 40px;
    font-size: 20px;
}
/*call for me button styling*/
.btn{
    position: relative;
    padding: 10px 30px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 35px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.btn::before, .btn::after{
    content:"";
    position: absolute;
    height: 2px;
    background-color: white;
    transition: transform 0.5s ease;
}
.btn::before{
    top:0;
    left:0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;

}

.btn::after{
    left:0;
    bottom:0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
}


.btn:hover::before {
  transform: scaleX(0);
  transform-origin: left;
}

.btn:hover::after {
  background-color: aqua;  
  transform: scaleX(1);
  transform-origin: right;
}


/* about me section */
#about-me{
    padding: 100px 100px;
    background-color: white;
    display: flex; 
    align-items: center;
   }


#about-me img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(187, 143, 206);
    margin: 20px;
    object-fit: cover;/*let the image maintain the aspect ratio */
}
#about-me .about-me-details{
    padding: 20px;

}
/* my-projects section */

#my-projects h2{
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(187, 143, 206);;
    padding: 20px;
    color: white;
}
#my-projects .project1, .project2, .project3, .project4{
    display: flex;
    padding: 30px 0px;
}


#my-projects img{
    width: 250px;
    height: auto;
    border: 1px solid white;
    box-shadow: 1px 1px 10px;
    padding: 10px;
    margin-left: 20px;
    
}

#my-projects .project-details{
    padding: 0px 20px;
}

/* contact-me section */
#contact-me{
    width: 100%;
    height: 470px;
    background-color: rgb(235, 237, 239);
}
.contact-me-div{
    height: 410px;
    width: 100%;
    /* background-color: aqua; */

}
#contact-me h2{
    text-align: center;
    padding: 30px 0px 5px 0px;

}

#contact-me form {
    display: grid;
    justify-content: center;

}

#contact-me form input {
    width: 400px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 0.1px solid rgb(105, 100, 100);;
}
#contact-me form input:focus{
    outline:  rgb(30, 176, 249);

}
#contact-me form textarea{
    width: 400px;
    height: 100px;
    border: 0.1px solid rgb(105, 100, 100);
    border-radius: 5px;
}

    /* Focus effect */
#contact-me form input:focus,
#contact-me form textarea:focus {
     
      box-shadow: 0 0 5px rgb(30, 176, 249);
      
}


/* contact-me form buttton */
#button{
    margin: 10px 110px;
    padding: 10px 50px;
    text-align: center;
    background-color:  rgb(30, 176, 249); 
    color: black;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

#button:hover{
    /* use of transform */
    transform: scale(1.1); /*upon hovering, the size of teh button would be 1.1 thime the original */
    font-weight: bolder;
}

/* footer section */
footer{
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
}

.social-media a i{
    font-size: 30px;
    margin: 10px 5px 0px 5px;
    color: white;
}
.social-media a :hover{
    color: rgb(30, 176, 249); /*upon hovering the icons, this color will be shown*/
    transform: scale(1.1);
}

